<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app_token</key>
	<string>Enter_Your_APP_Token</string>
	<key>owner_id</key>
	<string>Enter_Your_Owner_ID</string>
</dict>
</plist>
